
/*making sure the page is using full browser*/
html,
body {
    width: 100%;
    height:100%;
}

/*constraining container size within the body*/
.container{
    margin:0 auto;
    width:100%;
    max-width:1200px;
}

.top_container{
    margin:0 auto;
    width:90%;
    max-width:1200px;
    background-color: gray;
}

.top_row_p2{
    width : 100%;
    height : 100px;
    background-color : gray;
}

.top_links_p2{
    float:right;
    color: white;
    padding: 10px;
}

.contact_row{
    width: 100%;
    height: 60px;
    position: relative;
}

/* Quick ID styling */
#contact_header{
    font-size: 25pt;
    color: white;
}

.bottom_row_p2{
    width: 100%;
    height: 500px;
    max-height: 500px;
    background-color: darkred;
    display: table;
    position: fixed;
}

.column_p2{
    float: left;
    width: 49%;
    height: 500px;
    border:black 5px double;
    background-color: black;
    position: relative;
}

#location_p2{
    height: 100%;
}

.form_text_p2{
    font-size: 18pt;
    color: white;
}

.form_input_p2{
    width: 200px;
}

.para_input_p2{
    height: 300px;
    width: 200px;
}
