.box { padding: 30px 30px 30px 30px; border: black 5px double; background-color: red;
    position: relative; size: auto}

.box2 { float: left; clear: left; padding: 20px; border: black 5px double; background-color: red;
box-sizing: border-box}

.outer {float: left; }
